
body {
    margin: 0;
    padding: 0;
    background: #F1F7FC !important;
    /*position: relative;*/
}
header.scds_header {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #fff;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 4px 0px;
    border-bottom: 1px solid #c4c4c4;
    margin-bottom: 20px;
}

header.scds_header .navbar {
    margin-bottom: 0px;
}

.navbar-toggle .icon-bar {
    background: #004ba7;
}

.scds_nav li :hover {
    background: #003A8D !important;
    color: #fff !important;
}

.scds_nav li a {
    font-weight: 600;
}

header.scds_user_header {
    width: 100%;
    height: 30px;
    background-color: #494949;
}

footer.scds_footer {
    box-shadow: rgba(0, 0, 0, 0.2) -1px -1px 4px 0px;
    border-top: 1px solid #c4c4c4;
    margin-top: 20px;
    width: 100%;
    position: relative;
    bottom: 0;
}

footer.scds_footer .footer_menu {
    padding-top: 20px;
    width: 100%;
    min-height: 200px;
    background: #fff;
}

footer.scds_footer .footer_rights {
    width: 100%;
    background-color: #494949;
    color: #fff;
}

footer.scds_footer .footer_rights p {
    margin:0;
    padding-top: 10px;
    font-size: 12px;
}
footer.scds_footer .footer_rights .links p {
    margin:0;
    padding: 0;
    font-size: 12px;
}

footer.scds_footer .footer_rights .links a {
    color: #fff;
}

footer.scds_footer .footer_menu .list-group {
 margin: 0;
}

footer.scds_footer .footer_menu .list-group .list-group-item {
 border-top: none;
 border-left:none;
 border-right:none;
 border-bottom: 2px solid #ddd;
 margin-bottom: 0px;
 padding: 10px 0;
}

footer.scds_footer .footer_menu .list-group .list-group-item:last-child {
 border: none;
}

.footer_logo {
    margin-bottom: 20px;
    margin-top: 5px;
}

.lang {
 background-color: #f1f1f1;
 border-radius: 5px;
 padding: 5px 10px;
}

.lang-item {
 margin: 0 2.5px;
 font-size: 14px;
 font-weight: bold;
}

.lang-item a {
 color: #333;
}

.lang-item a:hover {
 text-decoration: none;
}

.top_nav {
 margin: 0;
 padding: 0;
 list-style-type: none;
 margin-top: 6px;
 font-size: 14px;
 color: white;
}

.top_nav li{
 padding: 0px 10px;
 border-left: 1px white solid;
 display: inline;
}

.top_nav li:first-child {
 border:none;
}

.top_nav a {
 color: white;
 text-decoration: none;
 margin: 0;
 padding: 0;
}

.top_nav a:hover {
 color: white;
 text-decoration: underline;
}
