

[role="main"], .main {
 background: none;
}

.wrapper {
box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 4px 0px;
-webkit-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 4px 0px;
border-radius: 0;
}

.account-masthead {
 background: #494949;
}

.masthead {
 padding-top: 75px;
 padding-bottom: 25px;
 background: #004ba7;
 border-bottom: 10px #c4c4c4 solid;
}

.module .module-heading {
background: #004ba7;
color: white;
border-radius: 0;
}

.module:first-child .module-heading {
border-radius: 0;
}

.nav .nav-item :hover, .nav .nav-item :focus{
background: #cde1fa;
}

.badge {
font-size: 10px;
}

.secondary {
background: #f5f5f5;
}

.nav-item.active > a, .nav-aside li.active a {
 background-color: #cde1fa;
 color: #333;
}


.nav-item.active > a:hover, .nav-aside li.active a:hover {
 background-color: #cde1fa;
 color: #333;
}

.nav-item.active > a::before, .nav-aside li.active a::before {
 border-left-color: #cde1fa;
}

.clear_action {
 color: white;
 float: right;
}

.clear_action:hover {
 color: white !important;
 text_decoration: underline;
}

.resource-item .heading {
 font-size:12px;
 margin-bottom:0;
 min-height:12px;
 font-weight:normal;
 color: #16252E;
}


.resource-item .description {
 color:#000000;
 font-size:14px;
 font-weight:bold;
}

.dataset-item {
 background-color: #F1F7FC;
 border-radius: 10px;
 padding: 15px;
 border-bottom: none;
}

.dataset-item:last-of-type {
 padding-bottom: 15px;
}


.container .jumbotron {
 border-radius: 10px;
}

.welcome-signage {
 background-color: #FAFAFA;
 color:	#494949;
 border-radius: 10px;
}

.welcome-signage h2 {
 color: #494949;
}

.homepage-wrapper {
box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 4px 0px;
-webkit-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 4px 0px;
background-color: white;
padding: 20px;
}

.orgz {
 display: block;
 background-color:#f5f5f5;
 padding: 10px;
 margin-bottom: 20px;
}


.panel-heading {
  border-radius: 0px;
  padding: 20px;
}
.panel-heading h3{
 color:white;
 margin:0;
}

.tag {
 margin: 0 2.5px;
 bakcground-color: #F1F7FC;
 border-radius: 5px;
 color: #494949;
 border: none;
 box-shadow: none;
 -webkit-box-shadow: none;
 padding: 1px 7px;
 margin: 2px 2.5px;
 
}

a.tag:hover {
 background-color: #004BA7;
 border: none;
 -webkit-box-shadow: none;
 box-shadow: none;
}
